<h1><%= "#{@dog.name}'s Messages" %></h1>
<a href="/messages/new"><button type='button' value='New Message'></a>
<div>
Inbox
  <%= render 'partials/received_messages' %>
</div>
<div>
Sent
  <%= render 'partials/sent_messages' %>
</div>