<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<h1><%= "#{@dog.name}'s Messages" %></h1>
<a href="/messages/new"><button type='button'>Send a Message</button></a>
<div id='inbox'>
Inbox
  <%= render 'partials/received_messages' %>
</div>
<div id='outbox'>
Sent
  <%= render 'partials/sent_messages' %>
</div>
