<div class='messages'>
	<ul class="tabs">
			<li class="tab-link current" data-tab="tab-1">Inbox</li>
			<li class="tab-link" data-tab="tab-2">Outbox</li>
			<!-- <li class="tab-link" data-tab="tab-3">Conversations</li> -->
	</ul>
  <div id="tab-1" class="tab-content current">
    <%= render 'partials/received_messages' %>
  </div>
  <div id="tab-2" class="tab-content">
    <%= render 'partials/sent_messages' %>
  </div>

  <%= render '/messages/new' %>
</div>
