<div id="content">
<h1>From: <%=@message.sender.name %></h1>
<div class='specific_msg'>
<p id='message_content'><%= @message.content %></p>
<br>
<%= form_for @message, url: {action: "destroy"}, method: 'delete'  do |f| %>
  <%= f.submit 'Delete This Message', class: 'button button-large bg-red'  %>
<% end %>
</div>
</div>
