<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<h1>From: <%=@message.sender.name %></h1>
<p><%= @message.content %></p>
<br>
<%= form_for @message, url: {action: "destroy"}, method: 'delete'  do |f| %>
  <%= f.submit 'Delete This Message' %>
<% end %>