<div class="dogs-index">
  <div id="search-form">
    <p>Filter by the following:<p>  
    <%= form_tag("/dogs/search", method: "get") do %>
      <input type="text" placeholder="Gender" name="query[gender]">
      <input type="text" placeholder="Breed" name="query[breed]">
      <input type="text" placeholder="Size" name="query[size]">
      <input type="text" placeholder="Location" name="query[location]">
      <input type="submit" class="button bg-pink">
    <% end %>
   </div>

  <div id="card-container">
    <% @dogs.each do |dog| %>
     <div class="profile-card">
  	   <%= render partial: 'profilecard', locals: {dog: dog} %>
     </div>
    <% end %>
  </div>
</div>


