.dogs-index {
	width: 95%;	
}
.dogs-index h1{
	margin: 20px auto;
	text-align: center;
}
#search-form {
	margin: 20px auto;
	text-align: center;
}
.card {
	margin: 20px auto;
	text-align: center;
	border: 2px solid black;
	float: left;
	width: 20%;
	padding: 20px;
}
.dogs-index .img {
	width: 15%;
	height: 15%;
}