#search-form {
  background-color: white;
  padding: 1em;
  margin: 1em;
  border-radius: 5px;
  box-shadow: 0 0 8px black;
	margin: 0 auto;
  margin-top: 3em;
	text-align: center;
  width: 60%;
}

#search-form .button{
  margin-top: .5em;
}

#search-form .button:hover{
  background-color: #7c0629;
}

.dogs-index img {
	width: 75%;
	height: 50%;
}

#card-container{
  margin: 0 auto;
  width: 90%;
  text-align: center;
}

.profile-card{
  display: inline-block;
  background-color: white;
  padding: 1em;
  margin: 1em;
  border-radius: 5px;
  box-shadow: 0 0 8px black;
  width: 10em;
  height: 15em;
  text-align: center;
  overflow: hidden;
  position: relative;
}

.profile-card .button{
  height: 1em;
  margin-bottom: 1em;
}

.profile-card .button:hover{
  background-color: #7c0629;
}

.profile-card p{
  font-size: .75em;
  margin: .1em;
}
.profile-card img{
    height: 100%;
    max-height: 100px;
    max-width: auto;
}