#loginmodal{
  display: none;
  position:fixed;
  left: 50%;
  top: 50%;
  margin-top: -75px;
  margin-left: -125px;
  background-color: white;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 0 8px black;
  width: 250px;
  height: 140px;
  z-index: 3;
}

#signupmodal{
  display: none;
  position:fixed;
  left: 50%;
  top: 50%;
  margin-top: -75px;
  margin-left: -125px;
  background-color: white;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 0 8px black;
  width: 250px;
  height: 212px;
  z-index: 3;
}
#overlay{
  display: none;
  position:fixed;
  height: 150%;
  width: 100%;
  margin-top:-10%;
  background-color: black;
  opacity: 0.6;
  z-index: 2;
}

#loginerror, #signuperror{
  z-index: 4;
  position: fixed;
  width: 200px;
  height: 50px;
  margin-left: -100px;
  padding: 10px;
  border-radius: 5px;
  border: 2px solid red;
  left: 50%;
  top: 25%;
  background-color: white;
}

form#new_dog, .edit_dog{
  position:fixed;
  left: 50%;
  top: 50%;
  margin-top: -200px;
  margin-left: -250px;
  background-color: white;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 0 8px black;
  width: 500px;
  height: 400px;
}