nav{
  padding: 5px 10px;
}
body,html{
  height: 100%;
  width:100%;
  min-height:100%;
  background-image: url('/images/Pugs.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
footer{
  position: fixed;
  bottom:0;
  width: 100%;
  z-index: 1;
}