#profile .wall{
  position: fixed;
  top: 50%;
  right:0;
  height: 40%;
  width:65%;
  border: solid;
  padding: 1em;
}

#profile .wall p {
	padding: 0;
	margin: 0;
}

#profile li{
  list-style-type: none;
	border: 1px solid black;
	width: 100%;
	height: 3em;
}

#profile li#level1{
	margin: 1px 0;
	position: relative;
}

#profile li#level1 button{
	position: absolute;
	right: 0;
	bottom: 0;
}

#profile li#level2{
	margin: 1px 3%;
	width: 97%;
}

#profile li#level2 button{
	visibility: hidden;
}

#profile .comments {
	height: 2em;
}